<!DOCTYPE html>
<html>
{{>partials/head}}
<body>
{{>partials/navbar}}


<div>
Id: {{this.id}}
<br>
Username: {{this.username}}
<br>
Roles: {{this.roles}}
<br>
Password: {{this.password}}
</div>
<div>
    <a href="/users/{{this.id}}/edit">
        <button>Muokkaa</button>
    </a>
</div>
</body>
</html>